.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1000px;
    grid-template-rows: 100px 50px 1000px 100px;
    grid-template-areas:
    "hd"
    "at"
    "cn"
    "sh";
}

.box{
        background: grey;
        border: 1px solid black;
}

.header{
    grid-area: hd;
}

.author{
    grid-area: at;
}

.content{
    grid-area: cn;
}

.share{
    grid-area: sh;
}



