.footer{
    background:#bcd;
    color: #fff;
    display: grid;
    justify-content: center;
    grid-template-columns: 100vw;
    grid-template-rows: 75px 75px;
    grid-template-areas:
    "sc";
}

.social{
    display: flex;
    flex-direction: row;
    grid-area: sc;
    justify-self: center;
    justify-content: space-evenly;
    width: 300px;
    margin: 25px;
}

.copy{
    margin: 25px;
    justify-self: center;
}