.footer{
    background:#bcd;
    color: #fff;
    display: grid;
    justify-content: center;
    grid-template-columns: 100vw;
    grid-template-rows: 125px 50px;
    grid-template-rows: 175px;
    grid-template-areas:
    "ft";
}