.header{
    background:#bcd;
    color: #fff;
    display: grid;
    justify-content: center;
    grid-template-columns: 100vw;
    grid-template-rows: 125px 50px;
    grid-template-areas:
    "tt"
    "nv"
}

.blog-title{
    background:#bcd;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-area: tt;
}

.nav{
    background:#bcd;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: nv;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-link:link{
    color: white;
}

.nav-link:visited{
    color: white;
}

.nav-link:hover{
    color:  #f2f2f2
}

.nav-link:active{
    color:  #ccc
}


#navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.nav li{
    display: inline;
    text-align: center;
    margin: 0 32px;
}