.main {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows:450px 1fr;
    grid-row-gap: 13px;
    grid-column-gap: 25px;
    justify-content: center;
    background-color: #fff;
    padding: 50px 13px;
    grid-template-areas:
    "im"
    "ps"
    "sd";
}
  
  @media (min-width: 800px) and (max-width:1100px) {
    .main{
    grid-template-columns: 750px;
    grid-template-rows:450px 1fr;
    grid-template-areas:
      "im"
      "ps"
      "sd";
    }
  }

  @media (min-width:1100px) {
    .main{
    grid-template-columns: 750px 275px;
    grid-template-rows:450px 1fr;
    grid-template-areas:
    "im im"
    "ps sd";
    }
  }

.post {
    margin: 13px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    grid-area: ps;
}

.post-image {
    background-image: url(../images/pexels-photo-373076.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: im;
}

img.post-image { width: 100%; }

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 13px 0px;
    grid-area: sd;
}

.searchbar{
    display: flex;
    align-self: center;
    margin: 13px;
}

.searchbar>button{
    width: 75px;
}

.searchbar>input[type=text] {
    width: 175px;
}

.author {
    display: grid;
    grid-template-rows:50px 125px 1fr;
    grid-template-columns: 50px 200px;
    justify-content: center;
    margin: 13px;
    padding-bottom: 7px;
    border-bottom: 1px solid lightgray;
    font-size: small;
    grid-template-areas:
    "av tt"
    "bg bg";
}

.author-name {
    margin: 13px;
    font-size: 1.5em;
    font-weight: 300;
    grid-area: tt;
}

.author-title {
    margin-block-start: 7px;
    font-size: 1.15em;
    font-style: bold;
}

.author-edu {
    margin-block-start: 4px;
    margin-block-end: 7px;
    font-size: 1.10em;
    font-weight: 300;
    font-style: italic;
    color: #f93;
}

.author-desc {
    line-height: 1.5em;
    font-size: 1em;
    font-weight: 300;
}

.avatar{
    grid-area: av;
    width: 100%;
    border-radius: 50%;
}

.bio{ grid-area: bg; }

.meta {
    font-size: 1em;
    font-weight: 300;
}

article>* {
    color: #333;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    margin-block-end: .25em;
    margin-block-start: 0em;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    margin-block-end: .50em;
    margin-block-start: .50em;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin-block-end: .50em;
    margin-block-start: .50em;
}

p {
    font-size: 1em;
    font-weight: 200;
    line-height: 24px;
}

blockquote {
    font-size: 1em;
    font-weight: 200;
    line-height: 24px;
    font-style: italic;
}

figure{
    margin:0;
}

figcaption {
    text-align: center;
    font-size: 1em;
    font-weight: 200;
}

ul {
    list-style-type: none;
    font-size: 1em;
    font-weight: 200;
}