.container{
    display: grid;
    grid-template-columns: 1300px;
    grid-template-rows: 100px 50px 1000px 100px;
    grid-template-areas:
    "hd"
    "nv"
    "cn"
    "ft";
}

.box{
    background: grey;
    border: 1px solid black;
}

.header{
    grid-area: hd;
}

.nav{
    grid-area: nv;
}

.content{
    grid-area: cn;
}

.footer{
    grid-area: ft;
}