@import "header.css";

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1000px;
    grid-template-rows: 1fr 100px;
    grid-template-areas:
    "cn"
    "ft";
}

.box{
    background:#fff;
    /* border: 1px solid red; */
}

.content{
    display: grid;
    justify-content: center;
    grid-template-columns: 450px 450px;
    grid-template-rows: 350px 100vh;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-area: cn;
    background-color: #eee;
    padding: 30px;
    grid-template-areas:
    "tl tr"
    "ft ft";
}

.item{
    padding: 25px;
    background-color: #fff;
    color:#BCD;
    width: auto;
    height: 300px;
}

.item #tl{
    grid-area: tl;

}

.item #tr{
    grid-area: tr;
}

.feat{
    padding: 25px;
    background-color: #fff;
    color:#BCD;
    width: auto;
    height: auto;
    grid-area: ft;
}

.footer{
    background:#BCD;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
}

h1{
    margin: 0px 0px 15px;
}