@import "header.css";
@import "footer.css";
@import "post.css";


* {
   font-size: 1em;
   font-family: 'Roboto', sans-serif;
}

.box{
    background:#fff;
    /* border: 1px solid red; */
}

.content{
    display: grid;
    justify-content: center;
    grid-template-columns: 512px 512px;
    grid-template-rows: repeat(2, 400px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    background-color: #fff;
    padding: 50px 13px;
    grid-template-areas:
    "ft ft"
    "tl tr"
    ;
}

.item{
    background-color: #fff;
    width: auto;
    height: 400px;
    border-bottom: 1px solid lightgray;
}

.item>.post-image{
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.item #tl{
    grid-area: tl;

}

.item #tr{
    grid-area: tr;
}

.feat{
    padding: 25px;
    background-color: #fff;
    color:#BCD;
    width: auto;
    height: auto;
    grid-area: ft;
}

button{
    background-color: #BCD; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}